### Q1. Create a list of five integers and print it.

In [1]:
numbers = [2,4,6,8,10]
print(numbers)

[2, 4, 6, 8, 10]

### Q2. Write a program to find the length of a list.

In [2]:
length = len(numbers)
print(length)

5

### Q3. Create a tuple with three elements and print the second item.

In [3]:
elements = ('abdo',72,'AI')
print(elements[1])

72

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [5]:
new_dictionary = {'name':'abdo','age':21,'job':'engineer'}
print(new_dictionary.keys())

dict_keys(['name', 'age', 'job'])

### Q5. Write a program to convert a list into a set.

In [6]:
new_set =set(numbers)
print(new_set)

{2, 4, 6, 8, 10}

### Q6. Create a string and print its first and last characters.

In [17]:
new_string = 'AMIT'
print(new_string[0], new_string[-1], sep='||')

A||T

### Q7. Take input from the user and print it.

In [1]:
y = input("y = ")
print(y)

9

### Q8. Write a program to add two numbers entered by the user.

In [3]:
x = input("first no. is ")
y = input("second no. is ")
add = x + y
print(add)

23

### Q9. Use `type()` function to check the data type of a variable.

In [4]:
variable = "hello"
print(type(variable))

<class 'str'>

### Q10. Create a boolean variable and print it.

In [5]:
answer = True
print(answer)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [3]:
num = int(input("enter no."))
if num > 0:
    print("no. is positive")
elif num < 0:
    print("no. is negative")
else:
    print("no. is zero")

no. is positive

### Q12. Write a program to check if a number is even or odd.

In [4]:
num = int(input("enter no."))
if num % 2 == 0:
    print("no. is even")
else:
    print("no. is odd")

no. is even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [8]:
name = "abdelrahman"
for i in range(3):
    print(name)

abdelrahman
abdelrahman
abdelrahman

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [9]:
for numbers in range(1,11):
    print(numbers)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [10]:
new_list = ["AI","DS","DA"]
for i in new_list:
    print(i)

AI
DS
DA

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [12]:
sum =0
for numbers in range(1,101):
    sum += numbers
print(sum)

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [13]:
for num in range(1,21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [14]:
text = "AMIT"
for i in text:
    print(i)

A
M
I
T

### Q19. Use a `for` loop to print all values in a dictionary.

In [18]:
new_dictionary = {'name':'abdo','age':21,'job':'engineer'}
for i in new_dictionary.values():
    print(i)

abdo
21
engineer

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [20]:
num = int(input("enter no."))
fact = 1
if num < 0:
    print("the fact is unknown")
elif num == 0:
    print("the fact of 0 is 1")
else:
    for i in range(1 , num + 1):
        fact *= i
    print(f"{num} is {fact}")

6 is 720

### Q21. Create a list of your 5 favorite fruits.

In [21]:
fav_fruits = ["f1","f2","f3","f4","f5"]
print(fav_fruits)

['f1', 'f2', 'f3', 'f4', 'f5']

### Q22. Add a new fruit to your list of favorite fruits.

In [25]:
fav_fruits.append("f6")
print(fav_fruits)

['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f6', 'f6', 'f6']

### Q23. Remove the second item from a list.

In [2]:
fav_fruits = ["f1","f2","f3","f4","f5"]
fav_fruits.pop(1)
print(fav_fruits)

['f1', 'f3', 'f4', 'f5']

### Q24. Sort a list of numbers in descending order.

In [3]:
numbers = [5,9,1,11,81]
numbers.sort(reverse=True)
print(numbers)

[81, 11, 9, 5, 1]

### Q25. Find the maximum and minimum values in a list.

In [4]:
print(max(numbers))
print(min(numbers))

81
1

### Q26. Count how many times a value appears in a list.

In [5]:
numbers = [5,9,1,11,5,81]
value = 5
print(numbers.count(value))

2

### Q27. Check if a specific value exists in a list.

In [6]:
numbers = [5,9,1,11,5,81]
value = 5
if value in numbers:
    print("yes")
else:
    print("no")

yes

### Q28. Reverse a list without using reverse() function.

In [9]:
numbers = [5,9,1,11,5,81]
print(numbers[::-1])

[81, 5, 11, 1, 9, 5]

### Q29. Make a copy of a list and modify the copy only.

In [11]:
numbers = [5,9,1,11,5,81]
copy_numbers = numbers.copy()
copy_numbers[1] = 50
print(copy_numbers)

[5, 50, 1, 11, 5, 81]

### Q30. Use slicing to get the first 3 items of a list.

In [12]:
new_list = ["m","s","n","r"]
print(new_list[:3])

['m', 's', 'n']

### Q31. Create a tuple with 4 elements and print its length.

In [13]:
new_tuple = (3,2,8,9)
print(len(new_tuple))

4

### Q32. Access the last element of a tuple.

In [14]:
print(new_tuple[-1])

9

### Q33. Convert a tuple into a list.

In [15]:
new_tuple = (3,2,8,9)
print(list(new_tuple))

[3, 2, 8, 9]

### Q34. Convert a list into a tuple.

In [16]:
new_list = [3,2,8,9]
print(tuple(new_list))

(3, 2, 8, 9)

### Q35. Check if a value exists in a tuple.

In [17]:
new_tuple = (3,2,8,9)
value = 8
if value in new_tuple:
    print("exist")
else:
    print("not exist")

exist

### Q36. Concatenate two tuples.

In [18]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concat = tuple1 + tuple2
print(concat)

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [19]:
print(concat*3)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### Q38. Find the index of an element in a tuple.

In [20]:
tuple1 = (1,2,3)
element = 2
print(tuple1.index(element))

1

### Q39. Use tuple unpacking to assign values to variables.

In [3]:
new_tuple = (1,5,6,9)
tuple1,tuple2,tuple3,tuple4 = new_tuple
print(tuple3)

6

### Q40. Create a nested list and access an inner element.

In [23]:
new_list = [["m","s","n"],[1,2,3]]
print(new_list)
print(new_list[0])
print(new_list[1])

[['m', 's', 'n'], [1, 2, 3]]
['m', 's', 'n']
[1, 2, 3]

### Q41. Create a set of 5 unique colors.

In [24]:
colors = {"r","b","y","v","g"}
print(colors)

{'r', 'g', 'b', 'v', 'y'}

### Q42. Add a new color to the set.

In [28]:
colors = {"r","b","y","v","g"}
colors.add("w")
print(colors)

{'r', 'g', 'b', 'v', 'w', 'y'}

### Q43. Remove an item from the set using `remove()`.

In [29]:
colors = {"r","b","y","v","g"}
colors.remove("v")
print(colors)

{'r', 'g', 'b', 'y'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [30]:
colors = {"r","b","y","v","g"}
colors.discard("w")
colors.discard("r")
print(colors)

{'g', 'b', 'v', 'y'}

### Q45. Create a set from a list with duplicate values.

In [31]:
new_list = [1,1,2,2,3,3]
new_set = set(new_list)
print(new_set)

{1, 2, 3}

### Q46. Find the union of two sets.

In [32]:
set1 = {1,2,3,4,5}
set2 = {4,5,2,6}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

### Q47. Find the intersection of two sets.

In [33]:
set1 = {1,2,3,4,5}
set2 = {4,5,2,6}
print(set1.intersection(set2))

{2, 4, 5}

### Q48. Find the difference between two sets.

In [34]:
set1 = {1,2,3,4,5}
set2 = {4,5,2,6}
print(set1.difference(set2))

{1, 3}

### Q49. Check if a set is a subset of another set.

In [ ]:
set1 = {4,5}
set2 = {4,5,2,6}
print(set1.issubset(set2))

True

### Q50. Check if two sets are disjoint.

In [36]:
set1 = {4,5}
set2 = {4,5,2,6}
print(set1.isdisjoint(set2))

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [37]:
new_dictionary = {'name':'abdo','age':21,'job':'engineer'}
print(new_dictionary)

{'name': 'abdo', 'age': 21, 'job': 'engineer'}

### Q52. Add a new key-value pair to the dictionary.

In [38]:
new_dictionary['city'] = 'cairo'
print(new_dictionary)

{'name': 'abdo', 'age': 21, 'job': 'engineer', 'city': 'cairo'}

### Q53. Update the value of an existing key in the dictionary.

In [39]:
new_dictionary['name'] = 'abdelrahman'
print(new_dictionary)

{'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [1]:
new_dictionary = {'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}
removed = new_dictionary.pop('city')
print(removed)
print(new_dictionary)

cairo
{'name': 'abdelrahman', 'age': 21, 'job': 'engineer'}

### Q55. Check if a key exists in the dictionary.

In [47]:
new_dictionary = {'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}
key = 'name'
if key in new_dictionary:
    print("yes")
else:
    print("no")

yes

### Q56. Loop through a dictionary and print all keys and values.

In [48]:
new_dictionary = {'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}
for key in new_dictionary.items():
    print(f"{key}:{value}")

('name', 'abdelrahman'):8
('age', 21):8
('job', 'engineer'):8
('city', 'cairo'):8

### Q57. Get all keys from a dictionary using `keys()`.

In [ ]:
new_dictionary = {'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}
print(new_dictionary.keys())

dict_keys(['name', 'age', 'job', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [50]:
new_dictionary = {'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}
print(new_dictionary.values())

dict_values(['abdelrahman', 21, 'engineer', 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [51]:
new_dictionary = {'name': 'abdelrahman', 'age': 21, 'job': 'engineer', 'city': 'cairo'}
print(new_dictionary.items())

dict_items([('name', 'abdelrahman'), ('age', 21), ('job', 'engineer'), ('city', 'cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [2]:
keys = ["name","age","job"]
values = ["abdelrahman",21,"engineer"]
new_dictionary = dict(zip(keys,values))
print(new_dictionary)

{'name': 'abdelrahman', 'age': 21, 'job': 'engineer'}